 .mask {
    background-color: #fffdf2;
    height: 80vh;
    margin: 0 auto;
  }

@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
}

.nav-item {
  margin-bottom: 3px;
}

.form-control {
  background-color: #fffdf2!important;
  border-color: black!important;
}