{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask">
            <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-dark">
                    <form class="form row" action="{{ url_for('search') }}" method="get">
                        <div class="col-auto">
                            <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" id="q" name="q" placeholder="All movies are here" type="text">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-dark" value="Search">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}