{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask">
            <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-dark">
                    <form class="form d-inline-flex" action="{{ url_for('search') }}" method="GET">
                        <div class="m-2">
                            <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" id="q" name="q" placeholder="All movies are here" type="text">
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-outline-dark m-2" value="Search">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for movie in data %}
            <div class="col m-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{ movie['cover'] }}" class="card-img-top" alt="Cover">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie['title'] }}, {{ movie['year'] }}</h5>
                        <p class="card-text">Type: {{ movie['kind'] }}</p>
                        <form action="/add" method="POST">
                            <button type="submit" class="btn btn-outline-dark m-2" value="{{ movie['id'] }}">Add to favorites / movie id: {{ movie['id'] }}</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}