<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="initial-scale=1, width=device-width">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
            <title>Final Project: {% block title %} {% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                
                <!-- place logo in here -->
                
                <a id="logo" href="/"><img src="{{ url_for('static', filename='f.png') }}" height="30" width="30" alt="logo"></a>
                <a class="navbar-brand" href="/">Final Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav ms-auto mb-2 mb-sm-0">

                        <!-- edit this part with correct links -->

                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Page 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Page 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Page 4</a>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>  
        {% block body %}

        {% endblock %}
    </body>
</html>